<h3 class="text-text">My Recipes</h3>
<ul>
  <div class="center-align">
    <a class="waves-effect waves-light btn teal darken-4 button-link" href='<%=new_recipe_path%>'>Add New Recipe</a>
  </div>
  <div class="collection">
    <%@user_recipes.each do |recipe|%>
      <li class="collection-item"><%=link_to recipe.name, recipe %> </li>
    <%end%>
  </div>
</ul>
