<h3>My Recipes</h3>
<ul>
<button class="btn waves-effect teal"><%= link_to 'Add New Recipe', new_recipe_path %></button>
<br>
<br>
<div class="collection">
<%@user_recipes.each do |recipe|%>
  <li class="collection-item"><%=link_to recipe.name, recipe %> </li>
<%end%>
</div>
</ul>
