<footer class="page-footer 9e9e9e grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
<!--         <h5 class="white-text">Dev Bootcamp</h5>
        <p class="grey-text text-lighten-4">NYC Red Pandas 2017</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Built w/<i class="material-icons">favorite</i> by:</h5>
        <ul>
          <li><i class="material-icons">face</i><a class="grey-text text-lighten-3" href="https://github.com/amber2394">Amber Maillard</a></li>
          <li><i class="material-icons">cake</i> <a class="grey-text text-lighten-3" href="https://github.com/clr2107">Catherine Rice</a></li>
          <li><i class="material-icons">smoking_rooms</i> <a class="grey-text text-lighten-3" href="https://github.com/cpcamp2">Chris "Penn" Camp</a></li>
          <li><i class="material-icons">free_breakfast</i> <a class="grey-text text-lighten-3" href="https://github.com/davidtskaggs">David Skaggs</a></li> -->

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017
      <a class="grey-text text-lighten-4 right" href="https://github.com/cpcamp2/Recipe-Manager">Source Code</a>
    </div>
  </div>
</footer>
